.gsc-heading{
  padding: 0 0 65px;
  display: block;
  width: 100%;
  @include clearfix();
  @include media-breakpoint-down(md){
    padding: 0 0 40px;
  }
  .title{
    position: relative;
    margin: 0;
    line-height: 1.2;
    font-weight: bold;
    @include media-breakpoint-down(md){
      font-size: 35px!important;
      line-height: 45px;
    }
  }
  .sub-title{
    color: #787887;
    font-size: 18px;
    font-weight: 400;
  }
  .title-desc{
    clear: both;
    max-width: 700px;
    margin: 0 auto 0;
    margin-top: 40px;
    font-size: 18px;
    line-height: 36px;
    p{
      margin-bottom: 0;
    }
  }
  .heading-action{
    margin-top: 46px;
  }
  &.align-center{
    text-align: center;
  }
  &.align-left{
    text-align: left;
    .heading-line{
      float: left;
      clear: both;
    }
    .title-desc{
      float: left; 
    }
    .title-icon{
      padding-left: 50px;
    }
  }
  &.align-right{
    .heading-line{
      float: right;
      clear: both;
    }
  }
  &.align-right{
    text-align: right;
    .title-desc{
      float: right;
    }
  }
  &.style-1{
    .title{
      font-size: 50px;
      line-height: 60px;
      position: relative;
      padding-bottom: 0;      
      
      span{
        box-shadow: 0 -8px 0 0 rgba($theme-color,0.1) inset;
      }
    }
  }
  &.style-2{
    padding: 0 0 30px;
    .title{  
      font-size: 30px;
      line-height: 1.2;    
    }
    .heading-bottom{
      .title-desc{
        margin-top: 20px;
        max-width: 100%!important;
      }
    }
  }

  &.text-light{
    .title-sub{
      color: $white;
    }
    .title{
      color: $white;
    }
    .sub-title span{
      color: rgba(255, 255, 255, 0.9);
    }
    &.align-left-2{ 
      .heading-top{
        &:after{
          background: $white;
        }
      }
    }
    .title-desc{
      color: #F3F5FA;
    }
  }
}